iframe {
  width: 100%;
}

#window {
  text-align: left;
  width: 800px;
  margin: 0 auto;
  background: #90ee90;
}

#links {
  background: #b0c4de;
  float: left;
  padding: 10;
  width: 200px;
}

#content {
  background: #f5f5f5;
  width: 560px;
  float: right;
  padding: 10;
}
